.directory

__pycache__/
cache/
.mypy_cache
output/*
!output/budapest
output/budapest/*
!output/budapest/*/
output/budapest/*/*
!output/budapest/*/walk15_stop_gini.csv
!output/budapest/*/multimodal_stop_gini.csv

!output/helsinki
output/helsinki/*
!output/helsinki/*/
output/helsinki/*/*
!output/helsinki/*/walk15_stop_gini.csv
!output/helsinki/*/multimodal_stop_gini.csv

!output/madrid
output/madrid/*
!output/madrid/*/
output/madrid/*/*
!output/madrid/*/walk15_stop_gini.csv
!output/madrid/*/multimodal_stop_gini.csv

!output/budapest/isochrones_walk_1_15.*
!output/helsinki/isochrones_walk_1_15.*
!output/madrid/isochrones_walk_1_15.*

!output/regression
output/regression/*
!output/regression/*.csv
!output/regression/*.tex
!output/regression/*.txt


.vscode/*
!.vscode/kanban.json

untracked/*
