.directory

__pycache__/
cache/
.mypy_cache
output/*
!output/budapest
output/budapest/*
!output/budapest/*/
output/budapest/*/*
!output/budapest/*/stop_socioecon.csv

!output/helsinki
output/helsinki/*
!output/helsinki/*/
output/helsinki/*/*
!output/helsinki/*/stop_socioecon.csv

!output/madrid
output/madrid/*
!output/madrid/*/
output/madrid/*/*
!output/madrid/*/stop_socioecon.csv

!output/budapest/isochrones_walk_1_15.*
!output/helsinki/isochrones_walk_1_15.*
!output/madrid/isochrones_walk_1_15.*

!output/regression
output/regression/*
!output/regression/*.csv
!output/regression/*.tex
!output/regression/*.txt


.vscode/*
!.vscode/kanban.json

untracked/*
